{% extends 'posts/base.html' %}


{% block content %}
{% for post in posts %}
  <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
    <div class="col p-4 d-flex flex-column position-static">

      <strong class="d-inline-block mb-2 text-primary">
        {% for c in post.categories.all %}
            |{{c.name}}
        {% endfor %}
      </strong>

      <h3 class="mb-0">{{ post.title }}</h3>
      <div class="mb-1 text-muted">{{ post.created_at }}</div>
      <div class="mb-1 text-muted">{{ post.get_status_display }}</div>
      <p class="card-text mb-auto">{{ post.content }}</p>
      <a href="{% url 'posts:details' post.id%}" class="stretched-link">details</a>
    </div>
  </div>
{% endfor %}
{% endblock %}
