{% extends 'posts/base.html' %}

{% block content %}

  <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
    <div class="col p-4 d-flex flex-column position-static">

      <strong class="d-inline-block mb-2 text-primary">
        {% for c in post.categories.all %}
            {{c.name}};
        {% endfor %}
      </strong>

      <h3 class="mb-0">{{ post.title }}</h3>
      <div class="mb-1 text-muted">{{ post.created_at }}</div>
      <p class="card-text mb-auto">{{ post.content }}</p>
      <a class="text-info" href="{% url 'posts:details' post.id %}">back</a>
      <a class="text-danger" href="{% url 'posts:delete' post.id %}">delete</a>
    </div>
  </div>

  <form method="POST">
    {% csrf_token %}
    {{ form.errors }}
    {{ form.as_p }}
    <div class="col-12">
      <button class="btn btn-primary" type="submit">update</button>
    </div><br>
  </form>

{% endblock %}
